.bg-white {
    background-color: white;
}
.bg-hijau {
    background: #659E38;
}
.bg-abu {
    background: #F4F4F4;
}
.text-hijau {
    color: #659E38;
}
span{
    font-weight: 900;
    font-size: 1.5rem;
}
.nav-item {
    font-size: 1rem;
    padding-left: 1rem;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}
.link-pesan {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    margin-left: 100px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.detail {
    color: #2E696D;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
.logo-brand {
    font-style: bold;
    font-weight: 900;
    font-size: 2rem;
    line-height: 48px;
}
.icon {
    font-size: 2rem;
    color: black;
    opacity: 0.75;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: reguler;
}
/* responsif */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
      width: 100%;
    }
  }